Repository davidsilvestrehenao-hub/network-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: area: frontend, area: api, area: services, area: database, area: infrastructure, area: monitoring, area: alerting, area: notifications, area: auth, type: documentation, type: tests, type: configuration, type: dependencies, type: ci/cd

.github/labeler.yml:

# Auto-label PRs based on changed files
# Format for actions/labeler@v5

'area: frontend':
  - changed-files:
      - any-glob-to-any-file: 'apps/web/**/*'

'area: api':
  - changed-files:
      - any-glob-to-any-file: 'apps/api/**/*'

'area: services':
  - changed-files:
      - any-glob-to-any-file: 'apps/*-service/**/*'

'area: database':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/database/**/*'
          - '**/*.prisma'

'area: infrastructure':
  - changed-files:
      - any-glob-to-any-file: 'packages/infrastructure/**/*'

'area: monitoring':
  - changed-files:
      - any-glob-to-any-file: 'packages/monitor/**/*'

'area: alerting':
  - changed-files:
      - any-glob-to-any-file: 'packages/alerting/**/*'

'area: notifications':
  - changed-files:
      - any-glob-to-any-file: 'packages/notification/**/*'

'area: auth':
  - changed-files:
      - any-glob-to-any-file: 'packages/auth/**/*'

'type: documentation':
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/*.md'

'type: tests':
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/*.spec.ts'
          - '**/__tests__/**/*'

'type: configuration':
  - changed-files:
      - any-glob-to-any-file:
          - '*.json'
          - '*.yml'
          - '*.yaml'
          - '*.config.*'
          - '.github/**/*'

'type: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'bun.lock'

'type: ci/cd':
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**/*'
          - 'scripts/**/*'

fix: Correct auto-merge workflow trigger syntax
  .github/workflows/auto-merge.yml
Labels: type: configuration, type: ci/cd

fix: Handle both pull_request and workflow_run contexts in auto-merge
  .github/workflows/auto-merge.yml
Labels: type: configuration, type: ci/cd

fix: Correct auto-merge workflow trigger syntax (#18)
  .github/workflows/auto-merge.yml
Labels: type: configuration, type: ci/cd

ci: Fix workflow linting errors and add cleanup script
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  apps/api/README.md
  scripts/cleanup-after-merge.sh
Labels: area: api, type: documentation, type: configuration, type: ci/cd

feat: Wait for all checks including Cursor Bugbot before auto-merge
  .github/workflows/auto-merge.yml
Labels: type: configuration, type: ci/cd

feat: Wait for all checks including Cursor Bugbot before auto-merge (#21)
  .github/workflows/auto-merge.yml
Labels: type: configuration, type: ci/cd

fix: Remove invalid Turbo env vars and fix markdown linting error
  .github/workflows/ci.yml
  apps/api/README.md
Labels: area: api, type: documentation, type: configuration, type: ci/cd

fix: Remove invalid Turbo env vars and fix markdown linting error (#22)
  .github/workflows/ci.yml
  apps/api/README.md
Labels: area: api, type: documentation, type: configuration, type: ci/cd

fix: correct speed-test import path in browser service config
  packages/infrastructure/src/container/service-config.browser.ts
Labels: area: infrastructure

fix: correct speed-test import path in browser service config
  packages/infrastructure/src/container/service-config.browser.ts
Labels: area: infrastructure

test: Add SimpleMockMonitor tests and fix CI issues
  apps/web/.output/nitro.json
  apps/web/.output/server/chunks/nitro/nitro.mjs
  packages/infrastructure/src/mocks/SimpleMockMonitor.test.ts
  packages/infrastructure/src/mocks/SimpleMockMonitor.ts
  packages/infrastructure/tsconfig.json
Labels: area: frontend, area: infrastructure, type: tests

test: Test Husky pre-commit hook
  test-husky.md
Labels: type: documentation

fix: Update Husky hooks to modern format
  test-husky.md
Labels: type: documentation

feat: Add comprehensive Husky pre-commit hooks
  .husky/pre-commit
  .husky/pre-push
  apps/web/.output/nitro.json
  apps/web/.output/server/chunks/nitro/nitro.mjs
  bun.lock
  docs/HUSKY-SETUP.md
  package.json
  test-husky.md
Labels: area: frontend, type: documentation, type: configuration, type: dependencies

fix: Remove tracked build artifacts from .output directory
  apps/web/.output/nitro.json
  apps/web/.output/server/chunks/nitro/nitro.mjs
  apps/web/.output/server/chunks/nitro/nitro.mjs.map
  apps/web/.output/server/index.mjs
  apps/web/.output/server/index.mjs.map
  apps/web/.output/server/package.json
Labels: area: frontend

docs: Add comprehensive interface implementation patterns documentation
  .cursor/rules/20-backend-patterns.mdc
  .cursor/rules/40-quality-standards.mdc
  apps/web/.output/nitro.json
  apps/web/.output/server/chunks/nitro/nitro.mjs
  apps/web/.output/server/chunks/nitro/nitro.mjs.map
  apps/web/.output/server/index.mjs
  apps/web/app.config.timestamp_1759356693933.js
  apps/web/src/lib/frontend/interfaces/IAPIClient.ts
  apps/web/src/lib/frontend/services/APIClient.ts
  bun.lock
  docs/ARCHITECTURE.md
  docs/INTERFACE-IMPLEMENTATION-PATTERNS.md
  packages/alerting/src/AlertingService.ts
  packages/auth/src/AuthService.ts
  packages/auth/src/MockAuth.ts
  packages/infrastructure/package.json
  packages/infrastructure/src/config/env.ts
  packages/infrastructure/src/container/service-wiring.browser.ts
  packages/infrastructure/src/logger/index.ts
  packages/infrastructure/src/mocks/MockAlerting.ts
  packages/infrastructure/src/mocks/MockNotification.ts
  packages/notification/src/NotificationService.ts
  packages/shared/src/index.ts
  packages/shared/src/interfaces/IAlertRuleRepository.ts
  packages/shared/src/interfaces/IAlertingService.ts
  packages/shared/src/interfaces/IAuthService.ts
  packages/shared/src/interfaces/IIncidentEventRepository.ts
  packages/shared/src/interfaces/IMonitoringTargetRepository.ts
  packages/shared/src/interfaces/INotificationRepository.ts
  packages/shared/src/interfaces/INotificationService.ts
  packages/shared/src/interfaces/IPushSubscriptionRepository.ts
  packages/shared/src/interfaces/ISpeedTestResultRepository.ts
  packages/shared/src/interfaces/ISpeedTestService.ts
  packages/shared/src/interfaces/IUserRepository.ts
  packages/shared/src/interfaces/index.ts
  packages/shared/tsconfig.json
  packages/speed-test/package.json
  packages/speed-test/src/SpeedTestConfigService.ts
  packages/speed-test/src/index.ts
Labels: area: frontend, area: infrastructure, area: alerting, area: notifications, area: auth, type: documentation, type: dependencies

chore: Trigger CI run to verify interface implementation fixes
  .gitignore
Labels: none

refactor: Enforce shared interfaces and clean up unused files
  .cursor/README.md
  env.template
  packages/infrastructure/src/mocks/SimpleMockMonitor.ts
  packages/shared/src/interfaces/next-gen/IMonitorServiceV2.ts
Labels: area: infrastructure, type: documentation

feat: Complete monitor package test infrastructure overhaul - MILESTONE ACHIEVED
  bun.lock
  packages/monitor/package.json
  packages/monitor/service-wiring/test.json
  packages/monitor/src/MonitorService.simple.test.ts
  packages/monitor/src/MonitorService.test.ts
  packages/monitor/tsconfig.json
  packages/monitor/vitest.config.ts
  packages/shared/dist_test/IDatabaseService.d.ts
  packages/shared/package.json
  packages/shared/src/index.test.ts
  packages/shared/src/index.ts
  packages/shared/src/interfaces/base/index.ts
  packages/shared/src/interfaces/index.ts
  packages/shared/src/test-utils/setup-simple.ts
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.json
  packages/shared/vitest.config.ts
  test-lint-staged.ts
Labels: area: monitoring, type: tests, type: dependencies

fix: COMPLETE SUCCESS - All 2 remaining test failures resolved! 🎉
  bunfig.toml
  src/test/e2e/target-management.spec.ts.disabled
  src/test/integration/ServiceIntegration.test.ts.disabled
Labels: none

🎉 MILESTONE: Perfect Test Suite - All 302 Tests Passing!
  bunfig.toml
  packages/monitor/src/MonitorService.ts
  packages/notification/src/NotificationService.ts
  playwright-report/index.html
  playwright.config.ts
  src/test/e2e/target-management.e2e.ts
  src/test/integration/ServiceIntegration.test.ts
Labels: area: monitoring, area: notifications, type: tests, type: configuration
